@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }
body{
    background-color:#F2F2F2;
    font-family: 'Catamaran', sans-serif;
}
address{
	font-weight:400;
	font-size:18px;
	display:block;
	float:right;
}
#address1{
	font-weight:400;
	font-size:18px;
	display:block;
	float:left;
}
#tele{
	display:block;
	float:right;
}
header{
    background-color:white;
}
header a {
	font-size:18px;
	line-height:1em;

}
nav a {
	font-size:20px;
    color:inherit;
    color:#408a95;
}
nav {
    padding:10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.clearfix:before {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

a{
    text-decoration:none;
    display: block;
    float: left;
    padding: 20px;
}
a:hover{
    color:#efe98b;
}
#sale{
	background-color:#e070ab;
	text-align:center;
	padding:10px;
}
h1{
	font-weight:700px;
	font-size:30px;
	color:white;
	background-color:
	text-align:center;
}
h2{
	font-weight:800;
    font-size:80px;
    text-transform:uppercase;
    line-height:1em;
    text-align:center;
}
#hero p{
	font-family: 'Muli', sans-serif;
    font-size:30px;
    font-weight:500;
    line-height:2em;
    text-align:center;
}



#hero a{
	font-weight:600;
    font-size:40px;
    font-weight:bold;
    line-height:3em;
    text-decoration:none;
    color:#408a95;
}

#hero a:hover{
	color:#efe98b;
}

article{
	background-color:white;
	width: 400px;
	padding: 5px;
	margin: 0 5px;
	float: left;
}

h3{
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
    font-size:25px;
    	text-align:center;
}
#featured {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width:auto;
	padding:10px 5px;
}
#featured p{
	font-family: 'Muli', sans-serif;
	font-weight:300;
	font-size:15px;
	text-align:center;
	padding:5px;
}
#featured a:hover{
	color:#efe98b;
}
#featured a{
	font-size:20px;
    text-decoration:none;
    color:#408a95;
    text-align:center;
}

#featured img{
	width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
padding:10px;
}
h4{
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
    font-size:45px;
}
img{
	width:200px;
	padding:10px;
	margin:10px;
}
footer img{
	width:70px;
}


footer{
	background-color:#A9A9A9;
	display:block;
	padding:20px;
}
footer iframe{
float:right;
clear:left;

}