@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }
body{
    background-color:#F2F2F2;
    font-family: 'Catamaran', sans-serif;
}
address{
	font-weight:400;
	font-size:28px;
}
header{
    background-color:white;
}
header a {
	font-size:28px;
	line-height:1em;
}
nav{
	padding:2em;
}
nav a {
	font-size:40px;
    color:inherit;
    padding:1em;
    color:#408a95;
}
a{
    text-decoration:none;
}
a:hover{
    color:#efe98b;
}
h4{
	font-weight:700px;
	font-size:38px;
	color:white;

}
#sale{
	background-color:#e070ab;
}
h1{
	font-weight:800;
    font-size:130px;
    text-transform:uppercase;
    line-height:1em;
}
#hero p{
	font-family: 'Muli', sans-serif;
    font-size:50px;
    font-weight:500;
    line-height:2em;
}

article{
    background-color:white;
}
#hero a{
	font-weight:600;
    font-size:45px;
    font-weight:bold;
    line-height:3em;
    text-decoration:none;
    color:#408a95;
}

#hero a:hover{
	color:#efe98b;
}
h2{
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
    font-size:35px;
}
#featured p{
	font-family: 'Muli', sans-serif;
	font-weight:300;
	font-size:19px;
}
h3{
	font-family: 'Catamaran', sans-serif;
	font-weight:600;
    font-size:45px;
}
img{
	width:300px;
	padding:10px;
}
footer img{
	width:70px;
}