* { margin:0; padding:0; box-sizing:border-box; }
body{
    background-color:#F2F2F2;
    font-family:helvetica, arial, sans-serif;
}
header{
    background-color:white;
}
nav a {
    color:inherit;
    padding:1em;
}
li{
    font-size:20px;
}
a{
    text-decoration:none;
}
a:hover{
    color:green;
}
h1{
    font-size:100px;
    text-transform:uppercase;
    letter-spacing:-4px;
}
main p{
    font-size:35px;
}

article{
    background-color:white;
}
main a{
    font-size:40px;
    text-transform:uppercase;
    font-weight:bold;
}
h2{
    font-size:25px;
}
img{
width:300px;
}